{% extends "base.html" %}
{% load static %}

{% block title %}Home Page{% endblock %}

{% block content %}

<!-- logo/image at the top -->
<img src="{% static 'myapp/image.png' %}" alt="logo til Spillpunkt" class="banner" />

<p>Welcome to the home page</p>

{% if request.user.is_authenticated %}
    <p>Innlogget som {{ request.user.username }} 
       <button href="{% url 'logout' %}">Logg ut</button></p>
{% else %}
    <button href="{% url 'login' %}" class="btn btn-primary">Logg inn</button>
{% endif %}

{% endblock %}